@{
    ViewBag.Title = "Strona główna";
}

<div class="jumbotron">
    <h1>Witaj w systemie rezerwacji pojazdów</h1>
    <p class="lead">Aby kontynuować zaloguj się lub jeśli nie masz konta - zarejestruj!</p>
    <p>@Html.ActionLink("Zarejestruj", "Register", "Account", null, new { @class = "btn btn-primary btn-lg" })</p>
    
</div>

